table{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    font-family: "Courier New",serif;
    color: #283044;
}
th, td{
    padding: 10px;
    border: 1px solid black;
    text-align: left;
}

th{
    background-color: #8b786d;
    color: white;
}
tr:nth-child(even){
    background-color: #78a1bb;
}
tr:hover{
    background-color: #bfa89e;
}
h1{
    color:#8b786d;
    font-size: 2.1em;
    font-family: "Courier New", sans-serif;
    margin-top: 20px;
    margin-left: 20px;
}
button{
    background-color: #b23a48;
    cursor: pointer;
    color: white;
    text-align: center;
    box-shadow: 0 7px #6c232b;
    border-radius: 15px;
    border-color: #9a323e;
    font-family: "Courier New",sans-serif;
    padding: 10px 20px;
}
button:hover{
    background-color: #dc939c;
    box-shadow: 0 7px #b23a48;
    color: black;
}
button:active{
    background-color: #6c232b;
    box-shadow: 0 4px #3e1419;
    border-color: #b23a48;
    color: white;
    transform: translateY(3px);
}