<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Members</title>
  <link rel="stylesheet" th:href="@{/webstyle.css}">
</head>
<body>

<div th:if="${members == null or members.size()==0}">
  <p class="title" th:text="No members found"></p>
</div>

<div th:unless="${members == null or members.size() == 0}">
  <h1 th:text="${'Members count: ' + members.size()}"></h1>

  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Namn</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Street address</th>
      <th>Date of birth</th>
      <th>Remove</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="member : ${members}">
      <td th:text="${member.id}"></td>
      <td th:text="${member.firstName + ' ' + member.lastName}"></td>
      <td th:text="${member.email}"></td>
      <td th:if="${member.phone == null}" th:text="'Not given'"></td>
      <td th:unless="${member.phone == null}" th:text="${member.phone}"></td>
      <td th:text="${member.address.getStreet() + ' in ' + member.address.city + ' (' + member.address.postalCode + ')'}"></td>
      <td th:text="${member.dateOfBirth}"></td>
      <td>
        <form action="/admin/deletememberbyid" method="post">
          <input type="hidden" name="id" th:value="${member.id}"/>
          <button type="submit">Delete member</button>
        </form>
      </td>
    </tr>
    </tbody>
  </table>
</div>

</body>
</html>